.container-home {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 8%;
  /* overflow: hidden; */
}

.container-home main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-home h2 {
  color: #343447;
}

.container-cards-resumo {
  margin-bottom: 24px;
  padding-left: 47px;

  display: flex;
  
  gap: 36px;
}

.container-cards-cobrancas {
  margin-bottom: 32px;
  padding-left: 47px;

  display: flex;
  justify-content: center;

  gap: 32px;
}

.container-cards-clientes {
  padding-left: 47px;

  display: flex;

  gap: 32px;
}