.container {
  display: flex;
  height: 100vh;
  width: 35vw;
  padding: 55px;
  background-color: #F0F0F5;
}

.box {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.imgRadio {
  width: 32px;
  height: 32px;
}

img[alt="linha"] {
  height: 40px;
}

.boxIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.boxText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 7px;
}

.boxText p {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #3F3F55;
  margin-top: 5px;
}

.boxText h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #0E8750;
}

.sub_box {
  display: flex;
  margin-bottom: 4px;
}

.sub_box:last-child {
  margin-top: -15px;
}

.last {
  position: relative;
  top: 11px;
}