@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;600&family=Nunito:wght@400;600;700&display=swap');

body {
    background: #F8F8F9;
    
    
}



.container-cadastro-clientes {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-cadastro-clientes h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #3F3F55;
}

.container-cadastro-clientes h2 {
  font-size: 20px;
  color: #0E8750
}

.container-cadastro-clientes main{
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.clients-text-section{
    display: flex;
    gap: 16px;
}

.customized-button {
    all: unset;
    background: #DA0175;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #F8F8F9;
    padding: 5px 50px;
    cursor: pointer;
}

.add-search-section{
    margin-right: -15px;   
    display: flex;
    gap: 16px;
}
.buttons-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}