.search-button {
    background: #FFFFFF;
    border-radius: 7px;

    padding-right: 12px;

    display: flex;
    align-items: center;
    
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #747488;
    
    gap: 16px;
}

.search-button input {
    all: unset;

    width: 318px;

    padding: 7px 13px 7px 8px;

    text-align: left;
}